<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block head_content %}{% endblock %}


    {% load static %}

 <!-- Custom fonts for this template-->
 <link href="{% static  'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
 <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">


  <!-- Custom styles for this page -->
  <link href="{% static 'vendor/datatables/dataTables.bootstrap4.min.css'%}" rel="stylesheet">

  <!-- jQuery Confirm -->
 <link rel="stylesheet" href="{% static 'vendor/jquery_confirm/jquery-confirm.min.css' %}">

 <!-- XDSoft DateTimePicker -->  
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css" integrity="sha256-DOS9W6NR+NFe1fUhEE0PGKY/fubbUCnOfTje2JMDw3Y=" crossorigin="anonymous" />  

 <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.15.3/dist/bootstrap-table.min.css">
 <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.8/css/select2.min.css" rel="stylesheet" />











    <!-- Bootstrap core JavaScript-->
    <script src="{% static  'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static  'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    
  
    <!-- Core plugin JavaScript-->
    <script src="{% static  'vendor/jquery-easing/jquery.easing.min.js' %}"></script>




    <!--<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" crossorigin="anonymous" />
    <!--<link rel="stylesheet" href="{% static 'css/main.css' %}" />-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

    <!--
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    -->


    <!-- Page level plugins -->
  <script src="{% static 'vendor/datatables/jquery.dataTables.min.js'%}"></script>
  <script src="{% static 'vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>

  <script src="{% static 'vendor/jquery_confirm/jquery-confirm.min.js' %}"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js" integrity="sha256-FEqEelWI3WouFOo2VWP/uJfs1y8KJ++FLh2Lbqc8SJk=" crossorigin="anonymous"></script>  

  <script src="https://unpkg.com/bootstrap-table@1.15.3/dist/bootstrap-table.min.js"></script>
  <script src="https://unpkg.com/bootstrap-table@1.15.3/dist/bootstrap-table-locale-all.min.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.8/js/select2.min.js"></script>

  <script src="{% static  'js/jquery.chained.min.js' %}"></script>





  
</head>
<body>

    {% include "nav.html" %}

    <div class="container mt-5">
        {% block container %}

        {% endblock%}


        
        <div class="modal fade" id="popup"></div>

        

        

      
      
        <script>
          $(document).ready(function () {
            jQuery.datetimepicker.setLocale('es');
          });
      </script>

{% block control_modal%}
<script>
  function abrir_modal(url)
  {

    $("#popup").load(url, function(){
      $(this).modal({
        backdrop:'static',
        keyboard: false
      })
      $(this).modal('show');
    });
    return false;
  }

  function cerrar_modal()
  {
    $('#popup').modal('hide');
    return false;
  }

  function mensaje(msg,color='green')
  {
    if (color=="success")
    {
      color="green";
    }
    if (color=="error")
    {
      color="red";
    }


    $.alert({
      title:'',
      theme:'material',
      type:color,
      content:msg
    });
  }

  {% if messages %}
    {% for message in messages %}
      console.log("{{ message.tags }}");
      mensaje("{{ message }}","{{ message.tags }}");
    {% endfor %}
  {% endif %}

</script>
{% endblock%}

        {% block js_page %} {% endblock %}

    </div>

</body>
</html>